@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;600&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  background-color: #F4F7F6;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, .font-elegant {
  font-family: 'Playfair Display', serif !important;
}

/* Transiciones suaves para botones */
button {
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
  filter: brightness(1.1);
}